@import "mixins/mixins";
@import "common/var";

@include b(mdevice){
  width: 90%;
  height: 100%;
  margin-left: 5%;

  @include e(register){
    width: 100%;
    height: 20%;
    margin-top: 5%;
    background-color: white;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);
    border-radius: 5px;
  }

  @include e(list-container){
    width: 100%;
    margin-top: 5%;
    height: 70%;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);
    overflow: hidden;
  }
}

@include b(mdevice-register){
  @include e(title){
    padding-top: 2rem;
    position: relative;
    margin-left: 5%;
    font-size: 1.5rem;
    box-sizing: border-box;
  }

  @include e(input-container){
    display: flex;
    align-items: center;
    margin-left: 5%;
    box-sizing: border-box;
    padding-top: 2rem;
  }
}

@include b(mdevice-list-container){
  @include e(title){
    position: relative;
    margin-left: 5%;
    font-size: 1.5rem;
    box-sizing: border-box;
    height: 10%;
    display: flex;
    align-items: center;
  }
}

@include b(mdevice-table){
  margin-left: 5%;
  width: 90%;
  color: #606266;
  height: 90%;

  @include e(header){
    width: 96%;
    margin-left: 2%;
    height: 10%;
    display: flex;
    align-items: center;
    padding: 1rem;
  }

  @include e(body){
    width: 96%;
    height: fit-content;
    margin-left: 2%;
    box-sizing: border-box;
  }

  @include e(tr){
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
  }
}
